body, html{
  background-color: #6D29A5;
  margin: 0px;
  padding: 0px;
}

.container {
  text-align: center;
  color: white;
}

p{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  align-items: center;
}

hr {
  height: 7px;
  border-width: 0;
  color = white;
  width: 50px;
  margin-left: 0;
}

h1{
  display: flex;
    width: 600px;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    align-items: left;
    color : #FFFFFF
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


#left{
  text-align: left;
  margin-left: 100px;
}

#center{
  text-align: center;
}

#right{
  text-align: right;
  margin-right: 100px;
}
