p{

}

.container {
  text-align: center;
  color: white;
}

hr {
  height: 7px;
  border-width: 0;
  color = white;
  width: 100px;
  margin-left: 0;
}

h1{
  display: flex;
    width: 600px;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    align-items: left;
    color : #FFFFFF
}
